<div class="footer">
  <div class="footer__container">
    <div class="footer__container__logo1">
      <img src="../../assets/icons/logo1.svg" alt="logo">
    </div>
    <div class="footer__container__follow">
      <p class="footer__container__follow__title bold">Follow us</p>
      <div class="footer__container__follow__icons">
        <img src="../../assets/icons/twitter.svg" alt="logo">
        <img src="../../assets/icons/facebook.svg" alt="logo">
        <img src="../../assets/icons/youtube.svg" alt="logo">
      </div>
    </div>
    <div class="footer__container__texts">
      <p class="footer__container__texts__title bold">Destinations</p>
      <div class="footer__container__texts__group">
        <p>Madrid</p>
        <p>Barcelona</p>
        <p>London</p>
        <p>Paris</p>
        <p>Rome</p>
      </div>
      <p class="footer__container__texts__title bold">Legal information</p>
      <div class="footer__container__texts__group">
        <p>Privacy policy</p>
        <p>Cookie policies</p>
        <p>Data treatment</p>
      </div>
      <p class="footer__container__texts__title bold">Book your flight</p>
      <div class="footer__container__texts__group">
        <p>Search flights</p>
        <p>Price calendar</p>
        <p>Destination map</p>
        <p>Flight times</p>
      </div>
    </div>
  </div>
  <div class="footer__foot">
    <p><span>Website terms of use</span></p>
    <span class="separator"></span>
    <p>Site map</p>
    <span class="separator"></span>
    <p>environment</p>
    <span class="separator"></span>
    <p>contact@arilines.com</p>
  </div>

</div>
