.banner{
  background-image: url('../../assets/imgs/fondo-banner.svg');
  background-position-x: -517px;
  background-position-y: -37px;
  background-size: 1500px;
  height: 448px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding-left: 18px;
  &__block{
    color: rgba(255, 255, 255, 1);
    &__button{
      border-radius: 100px;
      width: 152px;
      height: 38px;
      background-color: rgba(194, 1, 20, 1);

      font-size: 18px;
      font-weight: bold;
      border-width: inherit;
      color: rgba(255, 255, 255, 1);
    }

  }
}



@media screen and (min-width: 800px) {
  .banner{
    background-image: url('../../assets/imgs/fondo-banner.svg');
    background-size: cover;
    background-position: bottom 464px right 0;
    height: 448px;
    padding-left: 6rem;
    &__block{
      max-width: 564px;
      &__title{
        font-size: 58px;
      }
      &__description{
        font-size: 20px;
      }
    }
  }
}
