<div class="destinations">
  <div class="destinations__container">
    <div class="destinations__container__img"></div>
  </div>
  <div class="destinations__container__texts">
    <h2 class="destinations__texts_title bold">Our destinations</h2>
    <h3 class="destinations__texts_subTitle">Discover the world</h3>
    <p class="destinations__texts_description">Embark on an unforgettable adventure! Discover and enjoy our fascinating destinations. We are waiting for you to explore the world together!</p>
  </div>
</div>
