<app-header
(nextMenuMobile)="watchMenu()"></app-header>
<div *ngIf="isMenu else menuTemplate">
  <app-banner></app-banner>
  <div class="cont__offer-destinations">
    <app-offer></app-offer>
    <app-destinations></app-destinations>
  </div>
  <app-footer></app-footer>
</div>


<ng-template #menuTemplate>

  <div class="menu" *ngIf="isInformation else informationTemplate">
    <div class="menu__container">
      <p class="menu__container__text">Check-in</p>
      <span class="separator"></span>
      <p class="menu__container__text">Manage my booking</p>
      <span class="separator"></span>
      <p class="menu__container__text" (click)="menuInformation()">Information</p>
    </div>
  </div>
</ng-template>

<ng-template #informationTemplate>
  <div class="information">
    <h3 class="title">Information</h3>
    <div class="information__texts">
      <p class="padding__b__8">Help center</p>
      <p class="padding__b__8">Flight state</p>
      <p class="padding__b__8">Airplanes</p>
      <p>Routes</p>
      </div>

  </div>

</ng-template>

