<div class="offers">
  <h3 class="offers__title bold">Offers</h3>
  <div class="offers__container">
    <div class="offers__container__card">
      <div class="offers__container__card__block1 blocks">
        <h3 class="title__blocks bold">Chicago</h3>
        <p class="description__blocks bold">From $600.00</p>
      </div>
      <div class="shading"></div>
    </div>
    <div class="offers__container__card">
      <div class="offers__container__card__block2 blocks">
        <h3 class="title__blocks bold">Porto</h3>
        <p class="description__blocks bold">From $600.00</p>
      </div>
      <div class="shading"></div>
    </div>
    <div class="offers__container__card">
      <div class="offers__container__card__block3 blocks">
        <h3 class="title__blocks bold">Chicago</h3>
        <p class="description__blocks bold">From $600.00</p>
      </div>
      <div class="shading"></div>
    </div>
  </div>
  <div class="offers__destinations">
  </div>
</div>
